label[for=s_method_recogeroficina_recogeroficina] { line-height: 40px; }
label[for=s_method_envio4872_envio4872] { line-height: 40px; }
.title_correos_method { display: none; }
#correos_info_map { float: left; border: 1px solid #ccc; width: 350px; height: 180px; margin-right: 10px; margin-top: 15px; }
#correos_info_time  { float: left; width: 240px; height: 180px; margin-top: 15px; }
.sp-methods dt { clear: both; font-weight: bold; margin: 13px 0 5px; }


#content_puntos_correos { margin-bottom: 12px; }
#content_homepaq_correos { text-align: right; padding: 8px;}
.correos_contact_info, .correos_seach_zip{margin:15px 0; }
#homepaqs {margin-left:10px; padding: 3px 8px !important; height:24px !important; line-height:24px !important; margin-top:0px; margin-bottom:0px !important;}
#homepaqsearch  {width:130px !important;padding:4px 0 4px 30px !important;text-decoration:none; text-align:center;background-color:#FFD300;font-weight:bold;display:inline-block;height:20px !important;}
#homepaqsearch.homepaqsearch{background:#FFD300 url('https://www.futbolmania.com/skin/frontend/rwd/futbolmania/images/correos/homepaqsearch.gif') no-repeat 5px 3px !important;}
#homepaqsearch.homepaqloading {background:#FFD300 url('https://www.futbolmania.com/skin/frontend/rwd/futbolmania/images/correos/ajax-loader.gif') no-repeat 9px center !important; padding:4px 15px 4px 15px !important;}
#homepaqback { text-decoration:none; border:1px solid #FFD300; background:url('https://www.futbolmania.com/skin/frontend/rwd/futbolmania/images/correos/arrow_left.gif') no-repeat 5px center !important; height: 27px;line-height: 27px;padding: 0 5px 0 42px !important;display:inline-block !important; }
#homepaq_result_fail {padding:0px 0px 0px 35px !important; background:url('https://www.futbolmania.com/skin/frontend/rwd/futbolmania/images/correos/error.gif') no-repeat 5px center !important; border:1px solid #FFD300; margin-left:10px;  }
#homepaq_result_empty {padding:0px 0px 0px 10px !important; border:1px solid #FFD300; margin-left:10px; white-space: nowrap; }
.homepaq_register_link {height: 27px;line-height: 27px;display:inline-block;} 
#homepaquser { padding:3px 5px !important;  border:1px solid #FFD300; margin-bottom:0 !important; top:0px !important; height:20px;}
#homepaqurl{background:url('https://www.futbolmania.com/skin/frontend/rwd/futbolmania/images/correos/boton_arrow.gif') no-repeat  center !important; font-weight:bold;padding:0px 10px;display:inline-block;width:120px; text-align:center;}
#homepaq_result_empty #homepaqurl { background:url('https://www.futbolmania.com/skin/frontend/rwd/futbolmania/images/correos/boton_arrow_long.gif') no-repeat  center right !important; padding: 0; width: 180px; text-align: center; }
#homepaq_result_ok {border:1px solid #FFD300;height: 27px !important;line-height: 27px;padding: 0 2px 0 7px !important;display: inline-block;}
.correos_timetable { margin: 10px 0; }

/*      Omitsis styling     */
#cp_oficina_correos{
    margin-left: 10px;
}
#content_puntos_correos{
    border-top: 1px solid #ADAFB1;
}
#correos_info_time{
    float: left;
    padding-right: 10px;
}
#correos_info_map{
    float: left;
    width: calc(100% - 240px);
    margin-right: 0;
	display: none !important;
}
input#cp_oficina_correos {
	max-width: 170px;
    text-align: center;
}
li#shipping-method-content > div#content_puntos_correos > strong{
    display: none;
}
div[id$=_correos] label{
    float: left;
    clear: left;
    margin-bottom: 5px;
}
div[id$=_correos] input:not([type="button"]):not(#homepaquser){
    width: calc(100% - 80px);
    float: right;
    margin-bottom: 5px;
}
#correos_mobile_lang_chosen{
    float: left;
    max-width: 150px;
    width: 100%;
}
div[id$=_correos] input[type="button"]{
    float: right;
    height: 32px;
    padding: 5px 10px;
    background: #eae325;
    border: 1px solid #ADAFB1;
}
div[id$=_correos]{
    animation-duration: .5s;
    animation-name: fadeAndScale;
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}
div[id$=_correos]:not(div#search_by_cp_correos){
    padding: 10px;
}
div[id$=_correos], .correos_contact_info{
    float: none;
    clear: both;
}
div[id$=_correos]::after, .correos_contact_info:after{
    content: '';
    display: table;
    clear: both;
}
div[id$=_correos] p.error{
    margin: 0 !important;
    /*padding: 15px 10px 10px;*/
    color: #df280a;
    font-weight: bold;
}
a#homepaqsearch {
    height: 32px !important;
    color: black !important;
}
a#homepaqurl {
    width: auto;
    padding: 5px 25px;
}
span.homepaq_register_link {
    margin-top: 15px;
}
p#correospaq_alert_cod {
    margin-bottom: 15px;
    text-align: left;
}
div.correos_contact_info {
    display: none;
}